// Sizing

$size-s: 1.2rem;
$size-m: 1.8rem;
$size-l: 2.2rem;
$size-xl: 2.6rem;
$size-xxl: 3.8rem;



// Coloring
$mainBackgroundColor: #EEE;  // App Background Color
$mainMenuBackground: #53615f;
$mainNavBackground: #74a080;
$productBackground: #a18d62;
$mainFontColor: #333;
$fontWightColor: #FFF;
$bordersColor: 1px solid #555;  // Border Weight and Color  


